/* RESET & GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    color: white;
    font-family: "Oswald", sans-serif;
    overflow-x: hidden;
}


/* NAVBAR */
nav {
    padding: 20px 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

/* LINKS */
a {
    color: aqua;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: gold;
}

/* MAIN LAYOUT */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}

/* TEXT SECTION */
.text-content {
    flex: 1;
    text-align: left;
}

h1 {
    color: gold;
    font-size: 36px;
}

/* HR LINE */
hr.gold {
    border: none;
    height: 2px;
    background-color: gold;
    width: 60%;
    margin-top: 20px;
    margin-left: 2rem;
}

/* IMAGE SECTION */
.image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.image-content img {
    max-width: 380px;
    height: auto;
}

/* FONT CLASS */
.story-script-regular {
    font-weight: 400;
}

/* VIDEO BACKGROUND */
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

nav,
.main-container {
    position: relative;
    z-index: 1;
}
